<div class="container">
  <div class="card-panel">
    <h2>Sign In</h2>

    <%= form_for @user, url: "/sessions", method: "post" do |form| %>

      <div>
        <%= form.text_field :email, placeholder: "Email" %>
      </div>
      <div>
        <%= form.password_field :password, placeholder: "Password" %>
      </div>

      <div>
        <%= form.submit "Sign In", :class => "button" %>
      </div>

    <% end %>
  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
