<% @posts.each do |post| %>
<div>
  <%= link_to(post.title, city_post_path(post.city_id, post.id)) %>

</div>
<div>
  <%= post.description %>
</div>
<br>
<% end %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
