/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.button {
   color: white;
     font-family: 'Roboto', sans-serif;
     font-size: 18px;
   background: #3d5afe;
   border-radius: 2px;
   padding: 5px 20px;
   border: 0px;
   max-width: 150px;
 }

.button-link {
  color: white;
}

.errormsg {
  color: green;
}

.btn {
  margin: 10px;
}

#cities {
  font-size: 18px !important;
}

.slider .indicators .indicator-item {
  background-color: white !important;
  border: .3px solid black;
}

.slider .indicators .indicator-item.active {
  background-color: #3d5afe !important;
}
