// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  padding-top: 5px;
}
li {
  font-size: 28px;
  line-height: 40px;
}
.button-link {
  color: white;
}
a{
  color: #3d5afe;
}
